body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 16px 250px;
    gap: 32px;
    background: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
}

.menu-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #F6F8FC;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#pokedex-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    margin-top: 50px;
    height: fit-content;
    /* border-radius: 20px;
    background: linear-gradient(#F6F8FC,white);
    box-shadow: 0px 0px 14px 0px #000000; */
}

.pokedex-position {
    padding-top: 16px;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.logo {
    height: 70px;
    width: auto;
    cursor: pointer;
}

.logo:hover {
    filter: brightness(1.1);
}

.menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.not-found {
    animation: blendIn 3s ease-in-out;
    color: red;
    font-weight: bold;
}

@keyframes blendIn {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

input {
    padding-left: 8px;
    height: 25px;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button {
    border-radius: 25px;
    padding: 4px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #155FF3;
    color: #FADB44;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.font-color-gray {
    color: rgb(120, 120, 120);
    font-size: 12px;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

h1 {
    font-size: 21px;
    margin-top: 64px;
}

h3 {
    font-size: 14px;
}

.arrow {
    position: absolute;
    top: 16px;
    width: 20px;
    height: auto;
}

.arrow:hover {
    cursor: pointer;
    animation-name: sizechange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes sizechange {
    25% {
        transform: scale(1.5);
    }

    95% {
        transform: scale(1.0);
    }
}

.pokedex {
    position: relative;
    width: 300px;
    height: 700px;
    box-shadow: 0px 0px 14px 0px #000000;
    border-radius: 20px;
    margin-top: 50px;
}


.pokedex-container {
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 3;
}

.info-container {
    height: 350px;
    background-color: white;
    border-radius: 20px;
    margin-top: -20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    z-index: 4;
}

#pokemon-image {
    width: 170px;
    height: auto;
    position: absolute;
    bottom: 340px;
    left: 65px;
}

#pokemon-type {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.pokemon-type {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

#pokemon-id {
    position: absolute;
    font-size: 12px;
    top: 35px;
    right: 16px
}

nav {
    display: flex;
    padding-top: 16px;
    width: 100%;
}

.nav-tab {
    text-align: center;
    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-bottom-color: rgb(241, 241, 241) !important;
    color: rgb(166, 166, 166);
}

.nav-tab:hover {
    cursor: pointer;
    border-bottom-color: blue !important;
    color: #000000;
}

.selected-menu {
    cursor: pointer;
    border-bottom-color: blue !important;
    color: #000000;
}

table {
    margin-top: 16px;
    line-height: 22px;
}

table tr td:first-child {
    color: rgb(120, 120, 120);
    width: 80px;
}

td {
    font-size: 12px;
}

tr {
    display: flex;
    align-items: center;
}

.td-width {
    width: 50px;
}

.gender {
    height: 12px;
    width: auto;
}

.pokeball {
    height: 30px;
    width: auto;
}

.color-black {
    color: #000000;
}

.background-red {
    background-color: #FB6C6C;
}

.background-type-red {
    background-color: #ffa5a5;
}

.background-green {
    background-color: #2ebb41;
}

.background-type-green {
    background-color: #91e092;
}

.background-blue {
    background-color: #5d79eb;
}

.background-type-blue {
    background-color: #95a5d5;
}

.background-yellow {
    background-color: #efdb03;

}

.background-type-yellow {
    background-color: #ddae0b;
}

.background-gray {
    background-color: #717171;
}

.background-type-gray {
    background-color: #aeaeae;
}

.background-violett {
    background-color: #6a007f;
}

.background-type-violett {
    background-color: #a500cf;
}

.background-normal {
    background-color: #c6d37f;
}

.background-type-normal {
    background-color: #c2be74;
}

.background-brown {
    background-color: #272015;
}

.background-type-brown {
    background-color: #494736;
}

.background-pink {
    background-color: #f9d0ff;
}

.background-type-pink {
    background-color: #ffa3ed;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    height: 120px;
    width: 150px;
    margin: 8px;
    color: white;
    padding: 16px;
    border-radius: 20px;
}

.pokemon-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px #000000;
    animation-name: colorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    25% {
        background-color: silver
    }

    75% {
        background-color: rgb(0, 0, 0)
    }
}

.card-img {
    position: absolute;
    right: 16px;
    top: 50px;
    height: 60px;
    width: auto;
}

@media (max-width: 1700px) {
    .flex-container {
        padding: 16px 100px;
    }
}

@media (max-width: 1200px) {
    .menu-right {
        gap: 16px;
    }

    .flex-container {
        padding: 16px;
    }

    .menu-headline {
        padding: 16px;
    }
}

@media (max-width: 900px) {

    .flex-container {
        display: flex;
        justify-content: space-around;
        padding: 0;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        gap: 0;
    }

    .pokedex-position {
        position: absolute;
        top: 116px;
        left: 50%;
        transform: translateX(-50%);
    }

    #pokedex-menu {
        margin-top: 0;
        padding: 2px;
    }

    .pokedex {
        margin-top: 16px;
    }

    .pokemon-card {
        gap: 16px;
        padding: 8px;
    }

    .pokeball {
        display: none;
    }
}

@media (max-width: 600px) {

    .menu-headline {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 16px 32px;
    }

    .menu-right {
        justify-content: space-around;
    }

    .pokedex-position {
        top: 132px;
    }
}

@media (max-width: 360px) {

    .pokemon-card {
        margin: 1px;
    }
}
