body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(219, 238, 236);
}

.font-color-gray {
    color: rgb(120, 120, 120);
    font-size: 12px;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 21px;
    margin-top: 64px;
}

h3 {
    font-size: 14px;
}

.arrow {
    position: absolute;
    top: 16px;
    width: 20px;
    height: auto;
}

.arrow:hover {
    cursor: pointer;
}

.pokedex-position {
    position: fixed;
    top: 0px;
    left: 800px;
}

.pokedex {
    position: relative;
    width: 300px;
    height: 700px;
    box-shadow: 0px 0px 14px 0px #000000;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 50px;
}


.pokedex-container {
    height: 350px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: -1;
}

.info-container {
    height: 350px;
    background-color: white;
    border-radius: 20px;
    margin-top: -20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    z-index: 3;
}

#pokemon-image {
    width: 170px;
    height: auto;
    position: absolute;
    bottom: 340px;
    left: 65px;
}

#pokemon-type {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.pokemon-type {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

#pokemon-id {
    position: absolute;
    font-size: 12px;
    top: 35px;
    right: 16px
}

nav {
    display: flex;
    padding-top: 16px;
    width: 100%;
}

.nav-tab {
    text-align: center;
    font-size: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-bottom-color: rgb(241, 241, 241) !important;
    color: rgb(166, 166, 166);
}

.nav-tab:hover {
    cursor: pointer;
    border-bottom-color: blue !important;
    color: #000000;
}

.selected-menu {
    cursor: pointer;
    border-bottom-color: blue !important;
    color: #000000; 
}

table {
    margin-top: 16px;
    line-height: 22px;
}

table tr td:first-child {
    color: rgb(120, 120, 120);
    font-size: 12px;
    width: 80px;
}

table tr td:last-child {
    font-size: 12px;
}

.gender {
    height: 12px;
    width: auto;
}

.base-stats-gap {
    margin-left: 35px;
}

#total-base-stats {
    margin-left: -7px;
}

.pokeball {
    height: 30px;
    width: auto;
}

.menu-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 232px;
}

.color-black {
    color: #000000;
}

.background-red {
    background-color: #FB6C6C;
}

.background-type-red {
    background-color: #ffa5a5;
}

.background-green {
    background-color: #2ebb41;
}

.background-type-green {
    background-color: #91e092;
}

.background-blue {
    background-color: #5d79eb;
}

.background-type-blue {
    background-color: #95a5d5;
}

.background-yellow {
    background-color: #efdb03;

}

.background-type-yellow {
    background-color: #ddae0b;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    height: 120px;
    width: 150px;
    margin: 8px;
    color: white;
    padding: 16px;
    border-radius: 20px;
}

.pokemon-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px #000000;
    animation-name: colorchange;                
    animation-duration: 2s;               
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    25% {  background-color: silver    }
    75%  {  background-color: rgb(0, 0, 0) }
}

.card-img {
    position: absolute;
    right: 16px;
    top: 50px;
    height: 60px;
    width: auto;
}


#pokedex-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 50px;
    width: 400px;
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 14px 0px #000000;
}

@media (max-width: 1200px) {
    .pokedex-position {
        position: fixed;
        top: 0px;
        left: 500px;
    }

    #pokedex-menu {
        margin-left: 50px;
        width: 400px;
    }
}

@media (max-width: 900px) {
    .pokedex-position {
        position: fixed;
        top: 0px;
        left: 400px;
    }

    #pokedex-menu {
        margin-left: 16px;
        margin-top: 16px;
        width: 336px;
        padding: 1px;
    }

    .pokedex {
        margin-top: 16px;
        margin-left: 16px;
    }

    .pokemon-card {
        gap: 16px;
        margin: 1px;
        padding: 8px;
    }

    .menu-headline {
        gap: 153px;
    }
}

@media (max-width: 750px) {

    .pokedex-position {
        position: fixed;
        top: 0px;
        left: 16px;
    }

    #pokedex-menu {
        margin: 16px;
        width: 336px;
        padding: 1px;
    }
}